ul.nav.nav-pills.nav-stacked
  li(ng-class="getClass('/admin/dashboard')")
    a(ng-href="/admin/dashboard")
      i.icon-dashboard
      |  #{__("Dashboard")}
  li(ng-class="getClass('/admin/registrations')")
    a(ng-href="/admin/registrations") 
        i.icon-inbox
        |  #{__("Registrations")}
  li(ng-class="getClass('/admin/offices')")
    a(ng-href="/admin/offices") 
        i.icon-globe
        |  #{__("Offices")}
  li(ng-class="getClass('/admin/products')")
    a(ng-href="/admin/products") 
        i.icon-barcode
        |  #{__("Products")} 
  li(ng-class="getClass('/admin/users')")
    a(ng-href="/admin/users") 
        i.icon-user
        |  #{__("Users")}