
div
  div.row-fluid(ng-controller='OfficesController')
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span9
        .row-fluid
          h2 #{__("Offices")}

          // Edit dialog
          div.modal.fade(ui-modal, ng-model="editDialog")
            .modal-header
              h3(ng-show="office._id") #{__("Edit office")}
              h3(ng-hide="office._id") #{__("Create office")}

            .modal-body
              .row-fluid
                form.form-horizontal.form-inline(
                  id="office-form", 
                  name="officeForm", 
                  ui-toggle="!deleting")
                  .control-group(ng-class="{error: officeForm.name.$invalid}")
                    label.control-label(for="name") Name
                    .controls
                      input.input(type="text", name="name", ng-model="office.name",
                        required, placeholder="São Carlos")
                  .control-group(ng-class="{error: officeForm.nick.$invalid}")
                    label.control-label(for="name") Nick
                    .controls
                      .input-prepend
                        span.add-on @
                        input.input-mini(type="text", name="nick", placeholder="SC",
                          ng-model="office.nick",
                          ng-pattern="/^[A-Z]{2,4}$/", 
                          required,
                          tooltip="#{__("Two to four letter name of the office")}", 
                          rel="tooltip")
                  
                  //table.table-striped.table
                    thead
                      tr
                        th #{__("Name")}
                    tbody
                      tr(ng-repeat="user in office.adminUsers() | orderBy: 'name' ")
                        td {{user.name}}
                        td {{user.email}}
                        td
                          a.btn.btn-danger Remove
                  //a.pull-right.btn.btn-warning Add admin

                // Delete confirmation
                .alert.alert-error(ui-toggle="deleting")
                  p  <strong>Warning!</strong> Are you sure you want to delete
                    |  {{office.name}}?
                  p
                    a.btn.btn-danger(ng-click="delete(); editDialog = false") Delete this office
                    |  
                    a.btn(ng-click="deleting = false") Cancel

            .modal-footer(ui-toggle="!deleting")
              a.pull-left.btn.btn-danger(ng-click="deleting = true", 
                ng-show="office._id") Delete
              a.btn(ng-click='editDialog = false') Cancel
              a.btn.btn-primary(
                ng-click="editDialog = false; save()",
                ng-disabled="officeForm.$invalid") 
                | Save
          
          span
          table.table-striped.table
            thead
              tr
                th
                  input.search-query(type="text", ng-model="search", 
                    class="offices-query", placeholder="Search")
                th.centered #{__("Administrator")}
                th.right-text.middle
                  a.btn.btn-primary(
                    ng-click="office = {}; deleting = false; editDialog = true") 
                    | Add office
            tbody
              tr(ng-repeat="office in offices | filter: search | orderBy: 'name' ")
                td
                  //flickr.flickr-img(flickr-image="{{office.name}}")
                  p.pull-left(style="margin: 10px 10px 0 0;", colourize="{{office.name}}")
                    font(size="80")
                      i.icon-globe
                  span {{office.name}}
                  br
                  small @{{office.nick}}
                td.centered
                  a(data-original-title="{{office.admin.join('\\n')}}", ui-jq="tooltip")
                    ng-pluralize(count="office.admin.length",
                      when="{'0': 'No responsible!', 'one': '{{office.admin[0]}}', \
                          'other': '{} admins'}", ng-model="admin_count")
                  div(ng-hide="office.admin")
                    p.text-warning 
                      i.icon-warning-sign
                      |  #{__("No admin!")}
                td.right-text.middle
                  a.btn(href="#",
                    ng-click="$copy(office, $parent.office); \
                              $parent.deleting = false; \
                              $parent.editDialog = true")
                    i.icon-edit
                    |  #{__("Edit")}
                  a.btn.btn-warning(href="#")
                    i.icon-dashboard
                    |  #{__("Dashboard")}

          img(src="/img/loader.gif", ng-hide="offices")