
div
  script(type="text/ng-template", id="officeEdit")
    form.form-inline(name="officeForm", ng-show="editing")
      input.input-medium(type="text", name="name", ng-model="office.name")
      .input-prepend
        span.add-on @
        input.input-mini(type="text", name="nick", ng-model="office.nick",
          ng-pattern="/^[A-Z]{2}$/",
          tooltip="Two letter name of the office", rel="tooltip")

  div.row-fluid(ng-controller='OfficesController')
    .span3
      ng-include(src="/partials/admin/nav.{{locale}}.html")
      //div(ng-include="'/partials/admin/nav.en-us.html'")
    .span9
      
        .row-fluid
          h2 Offices
          form#office-add-form.form-inline(name="officeForm", novalidate)
            input.input(type="text", name="name", ng-model="office.name",
              required, placeholder="São Carlos")
            .input-prepend
              span.add-on @
              input.input-mini(type="text", name="nick", ng-model="office.nick",
                ng-pattern="/^[A-Z]{2}$/", placeholder="SC", 
                tooltip="Two letter name of the office", rel="tooltip", required)
            button.btn.btn-primary(ng-click="save()", ng-disabled="officeForm.$invalid") 
              i.icon-plus
              |  Add office
          div(ng-include="'officeEdit'")
          
          span
          table.table-striped.table
            thead
              tr
                th
                  input.search-query(type="text", ng-model="search", 
                    class="offices-query", placeholder="Search")
                th.centered Admin
                th
            tbody
              tr(ng-repeat="office in offices | filter: search | orderBy: 'name' ")
                td
                  div(ng-hide="editing") 
                    span {{office.name}}
                    br
                    small @{{office.nick}}
                  form.form-inline(id="office-form", name="officeForm", ng-show="editing")
                    input.input-medium(type="text", name="name", ng-model="office.name", required)
                    .input-prepend
                      span.add-on @
                      input.input-mini(type="text", name="nick", ng-model="office.nick",
                        ng-pattern="/^[A-Z]{2}$/", required,
                        tooltip="Two letter name of the office", rel="tooltip")
                td.centered
                  a(data-original-title="{{office.admin.join('\\n')}}", ui-jq="tooltip")
                    ng-pluralize(count="office.admin.length",
                      when="{'0': 'No responsible!', 'one': '{{office.admin[0]}}', \
                          'other': '{} admins'}", ng-model="admin_count")
                  div(ng-hide="office.admin")
                    p.text-warning 
                      i.icon-warning-sign
                      |  No admin!
                td.edit-buttons
                  // Edit and delete buttons
                  span(ng-hide="editing")
                    a.btn(ng-disabled="saving", ng-click="edit()")
                      i.icon-edit
                      |  Edit
                    button.btn.btn-danger(ng-disabled="saving", 
                      ng-click="deleteDialog = true")
                      i.icon-trash.icon-white
                      |  Delete

                    // Delete confirmation dialog
                    div.modal.fade(ui-modal, ng-model="deleteDialog")
                      .modal-header
                        h3 Confirmation
                      .modal-body
                        p Are you sure you want to delete {{office.name}}?
                      .modal-footer
                        a.btn(ng-click='deleteDialog = false') Cancel
                        a.btn.btn-danger(ng-click="delete()") Delete

                  // Editing controls
                  span(ng-show="editing")
                    button.btn.btn-primary(ng-click="save()", ng-disabled="officeForm.$invalid")
                      span Save
                    button.btn(ng-click="cancelEdit()")
                      span Cancel
          img(src="/img/loader.gif", ng-hide="offices")