
div
  script(type="text/ng-template", id="officeEdit")
    form.form-inline(name="officeForm", ng-show="editing")
      input.input-medium(type="text", name="name", ng-model="office.name")
      .input-prepend
        span.add-on @
        input.input-mini(type="text", name="nick", ng-model="office.nick",
          ng-pattern="/^[A-Z]{2}$/",
          tooltip="Two letter name of the office", rel="tooltip")

  .row-fluid
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span6
      div(ng-controller='OfficesController')
        .row-fluid
          h2 Offices
          //form.form-inline(name="officeForm")
          div(ng-include="'officeEdit'")
          button.btn.btn-primary() Add office
          span
          table.table.table-striped.table
            thead
              tr
                th 
                  input.search-query(type="text", ng-model="search", 
                    class="offices-query", placeholder="Search", ui-reset)
                th
            tbody
              tr(ng-repeat="office in offices | filter: search | orderBy: 'name' ")
                td
                  div(ng-hide="editing") 
                    span {{office.name}}
                    br
                    small @{{office.nick}}
                  form.form-inline(name="officeForm", ng-show="editing")
                    input.input-medium(type="text", name="name", ng-model="office.name")
                    .input-prepend
                      span.add-on @
                      input.input-mini(type="text", name="nick", ng-model="office.nick",
                        ng-pattern="/^[A-Z]{2}$/",
                        tooltip="Two letter name of the office", rel="tooltip")
                td
                  span(ng-hide="editing")
                    a.btn(ng-disabled="saving", ng-click="edit()")
                      i.icon-edit
                      span Edit
                    button.btn.btn-danger(ng-disabled="saving", 
                      ng-click="deleteDialog = true")
                      i.icon-trash.icon-white
                      span Delete
                    div.modal.fade(ui-modal, ng-model="deleteDialog")
                      .modal-header
                        h3 Confirmation
                      .modal-body
                        p Are you sure you want to delete {{office.name}}?
                      .modal-footer
                        a.btn(ng-click='deleteDialog = false') Cancel
                        a.btn.btn-danger(ng-click="delete()") Delete
                  span(ng-show="editing")
                    button.btn.btn-primary(ng-click="save(office)")
                      span Save
                    button.btn(ng-click="cancelEdit()")
                      span Cancel
          img(src="img/loader.gif", ng-show="loading")