
div
  div.row-fluid(ng-controller='UsersController')
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span9
        .row-fluid
          h2 #{__("Users")}
          
          // Edit dialog
          div.modal.fade(ui-modal, ng-model="editDialog")
            .modal-header
              h3(ng-hide="addUser") #{__("Edit user")}
              h3(ng-show="addUser") #{__("Create user")}
            .modal-body
              .row-fluid
                form.form-horizontal.form-inline(id="user-form", name="userForm")
                  .control-group(ng-class="{error: userForm.office.$invalid}")
                    label.control-label(for="name") Office
                    .controls
                      select(ui-select2="{width: 'resolve'}", ng-model="user.office", required)
                        option(ng-repeat="office in offices | orderBy: 'name'", value="{{office.nick}}") {{office.name}}
                  .control-group(ng-class="{error: userForm.name.$invalid}")
                    label.control-label(for="name") Full name
                    .controls
                      input(type="text", name="name", ng-model="user.name", 
                        required, placeholder="Full name")
                      span.help-inline(ng-show="userForm.name.$error.required") Obrigatório
                  .control-group(ng-class="{error: userForm.email.$invalid}")
                    label.control-label(for="email") Email
                    .controls
                      input(type="email", name="email", ng-model="user.email", 
                        required, placeholder="usuario@aiesec.net")
                      span.help-inline(ng-show="userForm.email.$error.required") Obrigatório
                  .control-group(ng-class="{error: userForm.position.$invalid}")
                    label.control-label(for="name") Position
                    .controls
                      input(type="text", name="name", ng-model="user.position", 
                        required, placeholder="VP GIP OGX")
                      span.help-inline(ng-show="userForm.name.$error.required") Obrigatório
            .modal-footer
              a.btn(ng-click='editDialog = false; cancel()') Cancel
              a.btn.btn-primary(ng-click="editDialog = false; save()") Save

          table.table-striped.table
            thead
              tr
                th
                  input.search-query(type="text", ng-model="search", 
                    class="offices-query", placeholder="Search")
                th.centered #{__("Office")}
                th.centered #{__("Position")}
                th 
                  a.btn.btn-primary(ng-click="editDialog = true; addUser = true") Add user
            tbody
              tr(ng-repeat="user in users | filter: search | orderBy: 'name' ")
                td 
                  |  {{user.name}}
                  p
                    small {{user.email}}
                td 
                  |  {{user.office}}
                  p
                    small {{user.position}}
                td.edit-buttons
                  // Edit and delete buttons
                  span(ng-hide="editing")
                    a.btn(ng-disabled="saving", ng-click="edit()")
                      i.icon-edit
                      |  #{__("Edit")}
                    button.btn.btn-danger(ng-disabled="saving", 
                      ng-click="deleteDialog = true")
                      i.icon-trash.icon-white
                      |  #{__("Delete")}

                  // Editing controls
                  span(ng-show="editing")
                    button.btn.btn-primary(ng-click="save()", ng-disabled="officeForm.$invalid")
                      span Save
                    button.btn(ng-click="cancelEdit()")
                      span Cancel
          img(src="/img/loader.gif", ng-hide="offices")