
div
  div.row-fluid(ng-controller='UsersController')
    .span3
      div(ng-include="'/partials/admin/nav.html'")
    .span9
        .row-fluid
          h2 #{__("Users")}
          
          // Edit dialog
          div.modal.fade(ui-modal, ng-model="editDialog")
            .modal-header
              h3(ng-hide="addUser") #{__("Edit user")}
              h3(ng-show="addUser") #{__("Create user")}
            .modal-body
              .row-fluid
                form.form-inline(id="user-form", name="userForm")
                  .control-group
                    .controls
                      select(ui-select2="{width: 'resolve'}", ng-model="registration.office")
                        option(ng-repeat="office in allOffices | orderBy: 'name'", value="{{office.nick}}") {{office.name}}
                  .control-group(ng-class="{error: registrationForm.name.$invalid}")
                    label.control-label(for="name") Nome completo
                    .controls
                      input(type="text", name="name", ng-model="registration.name", 
                        required, placeholder="Nome Sobrenome")
                      span.help-inline(ng-show="registrationForm.name.$error.required") Obrigatório
            .modal-footer
              a.btn(ng-click='editDialog = false') Cancel
              a.btn.btn-danger(ng-click="delete()") Delete

          table.table-striped.table
            thead
              tr
                th
                  input.search-query(type="text", ng-model="search", 
                    class="offices-query", placeholder="Search")
                th.centered #{__("Office")}
                th.centered #{__("Position")}
                th 
                  a.btn.btn-primary(ng-click="editDialog = true; addUser = true") Add user
            tbody
              tr(ng-repeat="user in users | filter: search | orderBy: 'name' ")
                td
                  div(ng-hide="editing") 
                    span {{office.name}}
                    br
                    small @{{office.nick}}
                  form.form-inline(id="office-form", name="officeForm", ng-show="editing")
                    input.input-medium(type="text", name="name", ng-model="office.name", required)
                    .input-prepend
                      span.add-on @
                      input.input-mini(type="text", name="nick", ng-model="office.nick",
                        ng-pattern="/^[A-Z]{2}$/", required,
                        tooltip="#{__("Two letter name of the office")}", rel="tooltip")
                td.centered
                  a(data-original-title="{{office.admin.join('\\n')}}", ui-jq="tooltip")
                    ng-pluralize(count="office.admin.length",
                      when="{'0': 'No responsible!', 'one': '{{office.admin[0]}}', \
                          'other': '{} admins'}", ng-model="admin_count")
                  div(ng-hide="office.admin")
                    p.text-warning 
                      i.icon-warning-sign
                      |  #{__("No admin!")}
                td.edit-buttons
                  // Edit and delete buttons
                  span(ng-hide="editing")
                    a.btn(ng-disabled="saving", ng-click="edit()")
                      i.icon-edit
                      |  #{__("Edit")}
                    button.btn.btn-danger(ng-disabled="saving", 
                      ng-click="deleteDialog = true")
                      i.icon-trash.icon-white
                      |  #{__("Delete")}

                  // Editing controls
                  span(ng-show="editing")
                    button.btn.btn-primary(ng-click="save()", ng-disabled="officeForm.$invalid")
                      span Save
                    button.btn(ng-click="cancelEdit()")
                      span Cancel
          img(src="/img/loader.gif", ng-hide="offices")